.tool-container-outer.p5, .tool-container-outer.p5r {
    background-color: var(--p5-white);
    clip-path: polygon(0 6px, 0 100%, 99.5% calc(100% - 13px), 100% 0);
    min-height: 316px;
    margin: 15px 30px;
    padding-bottom: 3px;
}

.tool-container-inner.p5, .tool-container-inner.p5r {
    background-color: var(--p5-black);
    clip-path: polygon(0 6px, 0 100%, 99.5% calc(100% - 13px), 100% 0);
    color: var(--p5-white);
    font-family: P5Hatty, sans-serif;
    font-size: min(40px, 3.3vw);
    line-height: 45px;
    min-height: 300px;
    margin: 5px;
    padding: 30px 5px 30px;
    text-align: center;
    transform: translateY(3px);
    vertical-align: center;
}
