.header-outer-container.p5, .header-outer-container.p5r, .header-outer-container.unselected {
    background-color: var(--p5-white);
    height: 57px;
    clip-path: polygon(6px 0, 0 100%, 99.5% 93%, 100% 14%);
    margin: 15px 30px;
}

.header-inner-container.p5, .header-inner-container.p5r, .header-inner-container.unselected {
    background-color: var(--p5-black);
    clip-path: polygon(6px 0, 0 100%, 99.5% 93%, 100% 14%);
    color: var(--p5-white);
    font-family: P5Expose, sans-serif;
    font-size: 45px;
    height: 50px;
    line-height: 45px;
    margin: 5px;
    text-align: center;
    transform: translateY(3px);
    vertical-align: center;
}

.header-title.p5:before {
    content: "Persona 5 ~ "
}


.header-title.p5r:before {
    content: "Persona 5 Royal ~ "
}


.header-title.unselected:before {
    content: "Persona Tools"
}

