body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--p5-red);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

hr {
  &.p5, &.p5r {
    width: 20%;
    color: var(--p5-gold);
  }
}

.hilight {
  &.p5, &.p5r {
    color: var(--p5-yellow);
  }
}

.invalid {
  &.p5, &.p5r {
    color: var(--p5-red);
  }
}

.fs30 {
  font-size: 30px;
}

@font-face {
  font-family: P5Main;
  src: url(Persona5main.ttf);
}

@font-face {
  font-family: P5Expose;
  src: url(Expose-Regular.otf);
}

@font-face {
  font-family: P5Hatty;
  src: url(P5Hatty.ttf);
}

:root {
  --p5-black: #0d0d0d;
  --p5-gold: #8c6723;
  --p5-maroon: #732424;
  --p5-red: #d92323;
  --p5-white: #ffffff;
  --p5-yellow: #f2e852;
}
